* {
	margin: 0px;
	padding: 0px;
}

html, body {
	font-family: Arial;
	font-size: 10pt;
}

div.map {
	float: left;
}

#map-canvas {
	height: 100%;
}

.clickable {
	cursor: pointer;
}

.buttonSet img {
	padding: 2px;
	cursor: pointer;
	background: linear-gradient(to bottom, #f8f8f8 0%,#d0d0d0 100%);
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	border-left: 1px solid #ccc;
}

.buttonSet img:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-left: 1px solid #bbb;
}
.buttonSet img:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-right: 1px solid #bbb;
}

.buttonSet img:hover {
	background: linear-gradient(to bottom, #d0d0d0 0%,#f8f8f8 100%);
}

.rightBar {
	width: 256px;
	box-shadow: -2px 0px 5px 0px rgba(50, 50, 50, 0.5);
	float: left;
	position: relative;
	height: 100px;
}

	.rightBarContent {
		margin: 5px;
	}
	
	.cutoutTools {
	
	}
	
	.cutoutList {
		background: linear-gradient(to bottom, #d0d0d0 0px,#fff 5px);
		padding-top: 10px;
	}
	
	.cutoutItem {
		background-color: #fff;
		border-bottom: 1px solid #ccc;
		padding: 5px 3px 3px 3px;
	}
	
	.cutoutItem:last-child {
		border-bottom-width: 0px;
	}
	
	.cutoutItem select {
		vertical-align: top;
	}
	
	.cutoutItem:hover, .cutoutItem.hover {
		background-color: #eee;
	}
	
		.cutoutButtons {
			
		}
		
		.cutoutColour {
			display: inline-block;
			width: 15px;
			height: 15px;
			border-radius: 5px;
			border: 1px solid #999;
			opacity: 0.5;
			cursor: pointer;
		}
		
		.cutoutName {
			vertical-align: top;
			margin-left: 3px;
		}

.colorpicker {
	width: 76px;
	position: absolute;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #999;
	
}
	
	.colorpicker .colour {
		display: inline-block;
		width: 15px;
		height: 15px;
		border-radius: 5px;
		border: 1px solid #999;
		margin: 1px;
		float: left;
		cursor: pointer;
	}

div.popup {
	position: fixed;
	left: 50%;
	margin-top: 100px;
	background-color: #fff;
	padding: 10px;
	border: 1px solid #888;
	border-radius: 10px;
	box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.5);
}

	.popup .close {
		float: right;
	}

	.popup .close img {
		cursor: pointer;
	}
	
	.popup .title {
		font-weight: bold;
		font-size: 16pt;
		margin-bottom: 10px;
	}

div.popup_copyright {
	width: 400px;
	margin-left: -200px;
}

div.popup_cutoutSettings {
	width: 600px;
	margin-left: -300px;
}

div.popup_defaultSettings {
	width: 600px;
	margin-left: -300px;
}
	
	table.coSettings_margin, table.defSettings_margin {
		border: 1px solid #000;
		border-radius: 5px;
	}
	table.coSettings_margin span, table.defSettings_margin span {
		font-style: italic;
	}
	table.coSettings_margin input, table.defSettings_margin input {
		width: 50px;
	}