{
    "MYSQL_HOST": "mariadb-server-10-2",
    "MYSQL_DATABASE": "kaartenmaker",
    "MYSQL_USER": "kaartenmaker",
    "MYSQL_PASSWORD": "secret",
    "STATS_ENABLED": true,
    "THROTTLE_SECONDS": 0,
    "THROTTLE_COUNT": 0
}
